<!DOCTYPE html>
<html>
<head>
  <title>XtfiyPushDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>


<script src="http://cdn.xtify.com/reactor/1.5.0/reactor-bundle.min.js" id="reactor-sdk" data-app-key="ev8AqQBStg"> </script>


</body>
</html>
